@mixin dark
  background: black
  color: white

@mixin light
  background: white
  color: black

body 
  // background: red
  // color: aqua
  

button
  // border-radius: 5px
  // padding: 3px
  // font-family: calibri
  // color: orange

p
  // color: orange
  // background: black

.dark
  @include dark